.gantt_scale_cell.week_end {
    background: #bdbcbc;
}

.gantt_task_cell.week_end {
    background-color: #fbfbfb;
}

.gantt_task_row.gantt_selected .gantt_task_cell.week_end {
    background-color: #FFF3A1;
}

.gantt_split_parent {
    visibility: hidden;
}
.gantt_cell{
    padding:0px;
}
.gantt_grid_scale{
    font-size: 15px;
}

.project{
    margin-top: 11px;
    height: 8px !important;
    line-height: 10px !important;
    background: #1031ad !important;
    border: solid 1px #12282d !important;
}

/*.project .gantt_task_progress,*/
.project .gantt_task_content{
    display: none;
}
.project .gantt_side_content {
    display: none;
}

.plan {
    background: #9c9c9c;
    border: solid 1px #616060;
    opacity: 0.75;
}

.actual {
    background: #5998bd;
    border: solid 1px #5998bd;
    opacity: 0.75;
}

/*人工输入的*/
.working {
    border: solid 1px #2898b0;
    background: #3db9d3;
    opacity: 0.75;
}

.pending {
    border: solid 1px #430571;
    background: #b319b3;
    opacity: 0.75;
}

.not_start {
    border: solid 1px #616060;
    background: #807e7e;
    opacity: 0.75;
}

.finished {
    border: solid 1px #65c16f;
    background: #3c9445;
    opacity: 0.75;
}

/*计算的*/
.delayed {
    border: solid 0px #944b0d;
    background: #f3550a;
    opacity: 0.75;
}

.exceed {
    border: solid 0px #db2536;
    background: #f11b30;
    opacity: 0.75;
}

.finished .gantt_task_progress,
.gantt_task_progress {
    background: rgb(241, 205, 0);
    border: none;
    box-shadow: none;
    height: 6px;
    top: 0px;
    border-radius: 0px;
    position: relative;
    display: block;
}
.exceed .gantt_task_progress {
    background: rgb(241, 205, 0);
    border: none;
    box-shadow: none;
    height: 6px;
    top: 0px;
    border-radius: 0px;
    position: relative;
    display: block;
}

.plan .gantt_task_content{
    display: none;
}

.gantt-content-samll{
    font-size:10px;
    -webkit-transform:scale(0.85);
    line-height: 11px;
    padding: 6px 0 5px 0;
    font-style: italic;
    text-align: center;
}
.gantt-content-samll div{
    padding: 0px 0 2px 0;
}
.project-delayed{
    color: #f00;
}
.gantt-content-samll .oneline
{
    padding-top: 7px;
}
.gantt-content-left-status{
    font-size:10px;
    -webkit-transform:scale(0.85);
    font-style: italic;
}

.start-work{
    font-style: italic;
    background-color: #ffb100;
}
.end-work{
    font-style: italic;
    background-color: #028b00;
}
.today{
    font-style: italic;
    background-color: #ff1744
}
.task-report-icon {
    font-size: 19px;
    margin-top: 7px;
    display: block;
    float: right;
    cursor: pointer;
}