body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    width:100%;
}
.footer {
    font-family: 楷体;
    padding-left: 25px;
    border-top: 1px solid rgba(0,0,0,.12);
}
.v-content-container{

 }
.main-container{
    /*overflow: auto;*/
    /*height: 100%;*/
    max-width: 1280px !important; 
}

.main-container-full{
    padding: 0px;
    max-width: 100% !important; 
}

/*
.loading{
    width: 100%;
    height: 100%;
    background: no-repeat center url('../images/loading.gif');
    background-color: #ccc;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}*/

#my-gantt-container{
    width:100%;
    height:100%;
    /*min-height: 720px;
    min-width: 200px;*/
    position: absolute;
    top: 0px;
    left: 0px;
}
@media (min-width: 768)
.footer{
    display: hidden;
}


.gantt-loader,
.loader {
    border: 4px solid #cecece;
    border-top: 4px solid #757575;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 5px;
    opacity: 0.6;
    position: fixed;
    bottom: 8px;
    right: 6px;
    z-index: 10
}
.gantt-loader{
    right: 20px;
    bottom: 20px;
}

.half-right-dialog {
    width: 520px !important;
    right: 0;
    height: auto;
    max-height: 88% !important;
    position: absolute;
    overflow-y: auto !important;
    top: 65px;
    /*bottom: 5px;*/
    margin: 0 !important;
}

.half-right-dialog-mobile {
    width: 95% !important;
    max-width: 500px;
    top: 50px;
    right: 0px;
    margin: auto;
    position: fixed;
    overflow-y: auto !important;
    height: auto;
    /*max-height: 95% !important;*/
    bottom: 0px;
}

.statistics-dialog{
    max-width: 450px !important;
}

.add-user-btn {
    bottom: 46px !important;
    z-index: 1 !important;
}
.add-user-btn-mobile {
    bottom: 16px !important;
    z-index: 1 !important;
}
.create-user-dialog{
    max-width: 640px;
}


/*worklog calendar*/
.full-calendar-body .dates .dates-events .events-week .events-day {
    min-height: 50px;
}
.events-day .today {
    background-color: #fcf8e3 !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.theme--light.v-select .v-chip--disabled, 
.theme--light.v-select.v-input--is-disabled .v-select__selections, 
.theme--light.v-select .v-select__selection--disabled,
.theme--light.v-input--is-disabled input, 
.theme--light.v-input--is-disabled textarea {
    color: rgba(0,0,0,.77) !important;
}



*{margin:0;padding:0;}


/*Home page mobile background*/
.slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index:0;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation-name: kenburns;
          animation-name: kenburns;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.slideshow-image:nth-child(1) {
  -webkit-animation-name: kenburns-1;
          animation-name: kenburns-1;
  z-index: 3;
}
.slideshow-image:nth-child(2) {
  -webkit-animation-name: kenburns-2;
          animation-name: kenburns-2;
  z-index: 2;
}
.slideshow-image:nth-child(3) {
  -webkit-animation-name: kenburns-3;
          animation-name: kenburns-3;
  z-index: 1;
}
.slideshow-image:nth-child(4) {
  -webkit-animation-name: kenburns-4;
          animation-name: kenburns-4;
  z-index: 0;
}

@-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  1.5625% {
    opacity: 1;
  }
  23.4375% {
    opacity: 1;
  }
  26.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  98.4375% {
    opacity: 0;
    -webkit-transform: scale(1.21176);
            transform: scale(1.21176);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  1.5625% {
    opacity: 1;
  }
  23.4375% {
    opacity: 1;
  }
  26.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  98.4375% {
    opacity: 0;
    -webkit-transform: scale(1.21176);
            transform: scale(1.21176);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  26.5625% {
    opacity: 1;
  }
  48.4375% {
    opacity: 1;
  }
  51.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  26.5625% {
    opacity: 1;
  }
  48.4375% {
    opacity: 1;
  }
  51.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51.5625% {
    opacity: 1;
  }
  73.4375% {
    opacity: 1;
  }
  76.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  51.5625% {
    opacity: 1;
  }
  73.4375% {
    opacity: 1;
  }
  76.5625% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}